.custom-section {
    display: flex;
    flex-wrap: wrap;
}

.section-content {
    display: flex;
    width: 100%;
}

.post-list {
    width: 30%;
    margin-right: 20px;
}

.post-list ul {
    list-style-type: none;
    padding-left: 0;
}

.post-list li {
    margin: 10px 0;
}

.post-details {
    width: 65%;
}

.section-tags {
    margin-top: 20px;
    clear: both;
}

.section-tags ul {
    list-style-type: none;
    padding-left: 0;
}

.section-tags li {
    display: inline-block;
    margin: 0 10px;
}
.custom-section .post-image img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.custom-section .post-content {
    padding: 15px;
}

.custom-section .post-list {
    max-height: 500px;
    overflow-y: auto;
}
.veu_socialSet.veu_socialSet-position-after.veu_contentAddSection {
    display: none;
}
h1.heading-title-posts {
    text-align: center;
    width: 100%;
}

.search-form {
    margin-bottom: 20px;
}
.search-form input {
    padding: 5px;
    margin-right: 10px;
}
.search-form{
    display: flex;
} 

.reset-button {
    display: inline-block;
    margin-top: 20px;
    padding: 5px 10px;
    background-color: #0073aa;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
.reset-button:hover {
    background-color: #005177;
    color: white;
}
.highlighted {
    background-color: yellow;
    font-weight: bold;
}
.active-tag {
    font-weight: bold;
    color: #0073aa;
    text-decoration: underline;
}

/* Default title color */
.post-title a {
    color: black; /* Black color for the title */
    text-decoration: none; /* Remove underline */
    transition: color 0.3s ease; /* Smooth color transition */
}

/* Hover state for the title */
/* .post-title a:hover {
    color: darkblue; // Blue color when hovered 
} */

.post-title a:active {
    color: darkblue; /* Dark blue color when clicked */
}

/* Focus state for the title (after clicking, when focused) */
.post-title a:focus {
    color: green; /* Keep the dark blue color when clicked and focused */
}

/* Visited state for the title (after the link has been clicked) */
/* .post-title a:visited {
    color: darkblue; // Dark blue color for visited link 
} */
.siteContent_after {
    position: relative!important;
    display: none!important;
}
